/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background: linear-gradient(135deg, #1e1e2f, #2a2a40);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    text-align: center;
    padding: 70px 20px 3px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    color: #bbb;
}

/* Game container */
.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

/* Game cards */
.game-card {
    background: #2f2f4a;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.game-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.game-card h2 {
    margin-bottom: 10px;
    color: white;
}

.game-card p {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 20px;
}


#spider_man_game {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("sp_game.webp") no-repeat center;
  background-size: cover;
}


#sponge_bob_game {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("sponge_game2.avif") no-repeat center;
  background-size: cover;
}


#tmnt_game {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("tmnt.avif") no-repeat center;
  background-size: cover;
}


#spider_btn {
  background: #de0606;
}

#sponge_btn {
  background: #f0e33f;
}

#tmnt_btn {
  background: #4c9c23;
}


/* Button */
.play-btn {
    text-decoration: none;
    background: linear-gradient(45deg, #ff7a18, #ff3d00);
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
}

.play-btn:hover {
    opacity: 0.85;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: #aaa;
    margin-top: auto;
}
